.img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding-right: 1%;
    padding-left: 1%;
    position: relative;

}

.wrapper{
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 980px;
    height:300px;
    white-space: nowrap;

}

.container{
   transition: transform 250ms ease-in-out;
}

.div-img{
    display: inline;
}

.btn-left{
    position: absolute;
   margin-left: 580px;
    padding: 10px;

}
.btn-right{
    position: absolute;
    margin-left: 1500px;
    padding: 10px;

}
